.live {
    background-color: greenyellow;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 9%;
    margin-left: 2%;
  }
  .textlive {
    margin-top: 9%;
    margin-left: 2%;
    font-size: 10px;
  }
  .buttons {
    width: 90%;
    text-align: -webkit-right;
  }
  #close {
    background-color: rgba(255, 0, 0, 0.707);
    color: white;
  }
  .buttonsChild {
    margin-top: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
  }
  @media(max-width:600px) {
    .buttonsChild {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      width: 90%;
      padding: 15px;
  }
  }
  .btn {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(236, 236, 236, 0.079);
  }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(209, 209, 209, 0.2);
  }
  .btn::after {
    content: "";
    display: inline-block;
    height: 90%;
    width: 90%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  .btn::after {
    background-color: #f7f7f730;
  }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .input-container {
    position: relative;
    margin-right: 15px;
    color: white;
  }
  .input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: white;
  }
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #ccc;
    transition: all 0.3s ease;
  }
  .input-field:focus+.input-label {
    top: -10px;
    font-size: 12px;
    color: #dedede;
  }
  .input-field:focus+.input-label+.input-highlight {
    width: 112%;
  }
  .cont-form-agregar {
    background-color: #0000005c;
    text-align: center;
    width: 26%;
    margin: auto;
    border-radius: 10px;
  }
  .form1 {
    display: grid;
    gap: 10px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  @media(max-width:600px){
    .form1 {
      grid-template-columns: repeat(1, 1fr);
  }
  .cont-form-agregar{
    width: 85%;
  }
  .img{
    text-align: center;
  }
  }
  #guardar {
    background-color: green;
    color: white;
    height: 30px;
  }
  #cancelar {
    background-color: rgb(224, 209, 0);
    color: black;
    height: 30px;
  }
  #editar {
    background-color: rgb(0, 105, 242);
    color: white;
    height: 30px;
  }
  #eliminar {
    background-color: rgba(255, 0, 0, 0.577);
    color: white;
    height: 30px;
  }
  #imagen{
    background-color: rgba(0, 0, 0, 0.416);
    padding: 12px;
    color: ivory;
    cursor: pointer;
  }
  .int {
    padding: 5px;
    border-radius: 7px;
  }
  .cont-form2 {
    padding: 40px;
    margin-top: 30px
  }
  @media(max-width:600px){
  .cont-form2{
    padding: 12px;
  }
  }

  .editar-form {
    background-color: #0000005c;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    width: 90%;
    padding: 10px;
    border-radius: 7px
  }
  .inputs {
    display: flex;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  .text{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 10px;  }
  .text label{
    color: black;
    margin-top: 18px;
    font-weight: bold;
  }
  .text p{
    color:white
  }
  .cont-info-bd{
    display: grid;
  }