<app-navBar></app-navBar>
<div class="container">
  <div class="cont-text" >
  <h1>Bienvenido a Dani Boutique</h1>
  <p>En Dani Boutique, nos apasiona la moda y la elegancia, nuestra tienda es el lugar perfecto para encontrar las últimas tendencias en ropa y accesorios de alta calidad. 
    <br>
    <br>
    Nos enorgullece ofrecer una amplia selección de prendas para hombres y mujeres, diseñadas para realzar tu estilo personal y hacerte sentir segura y hermosa en cualquier ocasión.
    <br>
    <br>
    Desde vestidos sofisticados hasta prendas casuales y accesorios únicos, nuestra tienda está repleta de opciones para satisfacer todos los gustos y necesidades. 
    <br>
    <br>
    Trabajamos con diseñadores talentosos y marcas reconocidas para asegurarnos de que encuentres prendas exclusivas y de excelente calidad.</p>

    <div class="cont-media">
      <!-- <button onclick="window.location.href='https://wa.me/3196736669?text=hola desde html'">Enviar mensaje por WhatsApp</button> -->

      <a href=""><img class="imge" alt="img"
          src="../../../assets/instagram-removebg-preview.png" width="30px" height="30px"></a>
      <a href=""><img class="imge" alt="img"
          src="../../../assets/facebook-removebg-preview.png" width="30px" height="30px"></a>
      <a
        href="https://api.whatsapp.com/send?phone=573116633316&text=Hola,%20deseo%20un%20servicio%20para%20mi%20moto,%20gracias."><img
          class="imge" alt="img" src="../../../assets/wpp-removebg-preview.png" width="30px" height="30px"></a>
    </div>
  </div>
</div>
