.container{
    height: 100vh;
    background-image: url(../../../assets/conjunto-moda-casual-hermosa-mujer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cont-text{
  background-color: rgba(0, 0, 0, 0.523);
  width: 60%;
  position: relative;
  margin: 0 auto;
  top:150px;
  border-radius: 10px;
}
.container-2{
  padding:20px
}

@media only screen and (max-width: 510px) {
  .container{
    width: 100%;
    margin: 0;
  }
  .container h1{
    font-size: 25px;
  }
  .cont-text{
    padding: 40px;
    margin-top: 50px;
}
.container-2{
  padding:0px
}
}